{% extends "base.html" %}
{% block title %}User Login{% endblock %}
{% block head %}User Login{% endblock %}
{% block content %}
{% if form.errors %}
  <ul class="messages">
    <li>Your username and password didn't match. Please try again.</li>
  </ul>
{% endif %}
  <form id="login-form" method="post" action=".">{% csrf_token %}
      <p><label for="id_username">Username:</label>
        {{ form.username }}</p>
      <p><label for="id_password">Password:</label>
        {{ form.password }}</p>
      <input type="submit" value="login" />
      <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}" />
    </form>
    <p class="forgot-password"><a href="{% url django.contrib.auth.views.password_reset %}">Forgot your password?</a></p>
{% endblock %}