{% extends "base.html" %}
{% load i18n %}
{% block title %}Password Reset{% endblock %}
{% block head %}Password Reset{% endblock %}
{% block content %}
{% if form.errors %}
  <ul class="messages">
    <li>No user found with that email address.</li>
  </ul>
{% endif %}
 <form id="password-reset-email" action="" method="post">{% csrf_token %}
 {{ form.email.errors }}
 <p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
 </form>
{% endblock %}